body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   -moz-box-shadow: 2px 2px 15px #000000;
   -webkit-box-shadow: 2px 2px 15px #000000;
   box-shadow: 2px 2px 15px #000000;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_CssMenu1
{
   border: 0px #FFFFFF solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 7px 5px 7px 0px;
   width: 120px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #333333;
   border: 0px #CCCCCC solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #A52A2A;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 7px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 7px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#Layer2
{
   background-color: transparent;
   background-image: url(images/account.jpg);
   background-repeat: no-repeat;
   background-position: left center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
}
#Label1
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 29px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: top;
}
#Label2
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Combobox1
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Combobox2
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#jQueryButton1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#jQueryButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#jQueryButton1.ui-corner-all
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Label4
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 29px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Label5
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Combobox3
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox3:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox4
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Combobox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label6
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#jQueryButton2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#jQueryButton2 .ui-button
{
   position: absolute;
   padding: 0;
}
#jQueryButton2.ui-corner-all
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#jQueryButton2.ui-corner-all
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#jQueryButton3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   font-style: normal;
}
#jQueryButton3 .ui-button
{
   position: absolute;
   padding: 0;
}
#jQueryButton3 .ui-icon
{
   left: 10px;
   position: absolute;
   top: 50%;
   margin-top: -8px;
}
#jQueryButton3.ui-corner-all
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#jQueryButton3.ui-corner-all
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Label7
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox1
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-shadow: 1px 1px 15px #000000;
   -webkit-box-shadow: 1px 1px 15px #000000;
   box-shadow: 1px 1px 15px #000000;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
